---
import type { MarkdownHeading } from 'astro'

interface Props {
	heading: MarkdownHeading
}

const {
	heading: { slug, text }
} = Astro.props
---

<li>
	<a
		aria-label={`Scroll to section: ${text}`}
		data-toc-slug={slug}
		title={text}
		class='text-foreground/75 hover:text-foreground aria-[current=true]:text-foreground mt-2 line-clamp-2 transition-all aria-[current=true]:font-medium'
		href={`#${slug}`}>{text}</a
	>
</li>
